<header style="position:absolute; top:24px; left:0; right:0; text-align:center;">
  {%- if settings.logo != blank -%}
    <img src="{{ settings.logo | image_url: width: 200 }}" alt="{{ shop.name }}" style="max-height:48px;">
  {%- else -%}
    <span style="font-family:var(--kc-f-display); font-size:24px; color:var(--kc-navy);">{{ shop.name }}</span>
  {%- endif -%}
</header>

{% schema %}
{ "name": "Password header" }
{% endschema %}
